*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    align-self: center;
    width: 80vw;
    height: 80vh;
    /* border: 2px solid black; */
    border-radius: 9px;
    display: flex;
    justify-content: space-evenly;
}

.box{
    border: 2px solid black;    
    width: 500px;
    border: 2px solid rgb(160, 159, 159);
    border-radius: 9px;
    margin:auto;
    padding: 20px 20px;
}


.box h1{
    text-align: center;
    font-weight:600;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.box h2{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.form{
    /* border: 2px solid black; */
    margin: 20px 0px;
}


.form label {
    font-size: 20px;
    border-radius: 8px;
}

.form input {
    width: 440px;
    height: 40px;
    background-color: rgb(252, 252, 252);
    font-size: 15px;
    border-radius: 8px;
    margin: 5px 0px;
    padding: 8px;
    border: 2px solid rgb(160, 159, 159);
}

#login{
    cursor: pointer;
    width: 440px;
    margin:10px 2px;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #7439db;
    color: white;
    font-weight: bold;
    border: none;    
}

#create{
    cursor: pointer;
    background-color:  rgb(252, 252, 252);
    width: 440px;
    font-size: 20px;
    border-radius: 8px;
    margin:5px 2px;
    color:black;
    padding: 10px;
    border: 2px solid rgb(160, 159, 159);
    /* border: none; */
}

#signup{
    cursor: pointer;
    width: 440px;
    margin:10px 2px;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #7439db;
    color: white;
    font-weight: bold;
    border: none;
}