*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* body{
    background-color:rgb(24, 24, 64);
} */

.container{
    margin: auto;
    align-self: center;
    width: 80vw;
    height: 80vh;
    /* border: 2px solid black; */
    border-radius: 9px;
    display: flex;
    justify-content: space-evenly;
}

.box{
    border: 2px solid black;    
    width: 500px;
    border: 2px solid rgb(160, 159, 159);
    border-radius: 9px;
    margin:auto;
    padding: 20px 20px;
}


.box h1{
    text-align: center;
    font-weight:600;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.box h2{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.form{
    /* border: 2px solid black; */
    margin: 20px 0px;
}


.form label {
    font-size: 20px;
    border-radius: 8px;
}

.form input {
    width: 440px;
    height: 40px;
    background-color: rgb(252, 252, 252);
    font-size: 15px;
    border-radius: 8px;
    margin: 5px 0px;
    padding: 8px;
    border: 2px solid rgb(160, 159, 159);
}

#login{
    cursor: pointer;
    width: 440px;
    margin:10px 2px;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #7439db;
    color: white;
    font-weight: bold;
    border: none;    
}

#create{
    cursor: pointer;
    background-color:  rgb(252, 252, 252);
    width: 440px;
    font-size: 20px;
    border-radius: 8px;
    margin:5px 2px;
    color:black;
    padding: 10px;
    border: 2px solid rgb(160, 159, 159);
    /* border: none; */
}

#signup{
    cursor: pointer;
    width: 440px;
    margin:10px 2px;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #7439db;
    color: white;
    font-weight: bold;
    border: none;
}

/* --------------------------------- Navbar------------------------------------------------- */

.navbar{
    display: flex;
    justify-content:space-between;
    /* border: 2px solid red; */
    border-radius: 8px;
    margin: 10px 10px;
    background-color:darkslateblue;
    height: 100px;
}

.navbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    /* border: 2px solid red; */
    border-radius: 8px;
    margin: 10px 300px;
    padding: 10px;
}

.tab{
    height: 50px;
    /* border: 2px solid black; */
    border-radius: 12px;
    margin: 10px 16px;
    padding: 10px 10px;
    background-color: white;
}

.tab a{
    text-decoration: none;
    font-size: 28px;
    color: black;
}

.tab:hover {
    background-color: cadetblue;
    color: white;
}

.tab a:hover{
    background-color: cadetblue;
    color: white;
}

.active{
    background-color: cadetblue;
}
.active a{
    color: white;
}


.userIcon{
    border: 2px solid whitesmoke;
    border-radius: 100%;
    color: white;
    margin:  20px 15px;
    height: 50px;
    width: 50px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

/* ------------------------------------------------------------ */

.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 24px;
    padding: 12px;
    text-align: center;
}

#taskInput{
    width: 500px;
    padding: 10px;
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid gray;
    box-shadow: inset;
    flex-shrink:inherit;
    margin: 5px;
}

#addBtn{
    cursor: pointer;
    border:none;
    border-radius: 12px;
    background-color:darkslateblue;
    width: 75px;
    padding: 10px;
    color: white;
    font-size: 24px;
}

#tasks{
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task-box{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 50px;
    border-radius:12px;
    border:2px solid gray;
    margin: 10px;
}

.task-msg{
    padding: 10px 15px;
    font-size: 24px;
    box-shadow: inset;
    flex-shrink: 0;
}

.deleteBtn{
    cursor: pointer;
    border: none;
    margin: 2px 5px;
    padding: 2px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: white;
}

#done-box{
    cursor: pointer;
}